  <div class="container" style="margin-top:20px;" >
  <nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
     <img src="<%= asset_url('logo.png') %>" alt="Logo" width="45" height=40"" class="d-inline-block align-text-top">
      BOOK APP
    </a>
    <%#= link_to "Create New TODO", new_todo_path, {class: "btn btn-outline-primary"} %>
  </div>
</nav>
<div class="text-success">
  <hr>
</div>
<div class="container" >
<%= render 'form'%>

</div>

  </div>